<!DOCTYPE HTML>
<!--
	Epilogue by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Davids site</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../app.css" type="text/css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	</head>
	<body>

		<!-- Links (sit on top) -->
<div class="w3-top">
		<div class="w3-row w3-padding w3-black">
		  <div class="w3-col s3">
			<a href="/" class="w3-button w3-block w3-black">HOME</a>
		  </div>
		  <div class="w3-col s3">
			<a href="/products" class="w3-button w3-block w3-black">CARS</a>
		  </div>
		  <div class="w3-col s3">
			<a href="/add" class="w3-button w3-block w3-black">FORM</a>
		  </div>
		  <div class="w3-col s3">
			<a href="/contacts" class="w3-button w3-block w3-black">REVIEWS</a>
		  </div>
		</div>
	  </div>